/*弹框*/
.wrapper{
	width: 100%;
	height:100vh;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.wtext{
	color: white;
	font-size: 38px;
	margin-left: 40%;
	margin-top: 10%;
}
.btn input:nth-child(1){
	background: skyblue;
	color: white;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-left: 45%;
	margin-top: 5%;
	font-size: 24px;
}
.cuo{
	font-size: 28px;
	color: white;
	margin-left: 60%;
	margin-top: -10.5%;
}







/*注册*/
/*.wrapper{
	width: 400px;
	height: 400px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}*/
.inputOne{
	float: left;
	width: 100%;
	height: 50px;
}
.yanzheng{
	margin: -21.5% 0 0 34%;
}
#code {
				font-family: Arial;
				font-style: italic;
				font-weight: bold;
				border: 0;
				letter-spacing: 2px;
				color: blue;
			}








